# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.html] # HTML files
indent_size = 2

[*.js] # JavaScript files
indent_size = 2

[*.css] # CSS files
indent_size = 2

[*.scss] # SCSS files
indent_size = 2
